/*  your css code here. If applicable */
.grid {
	display:grid;
	border: 1px solid yellow;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(4, 1fr);
	gap: 6px;
}
.grid div {
	background: green;
	color: white;
	font-size: 4vw;
}
.first {
	grid-column : span 4;
}
.second {
	grid-row : span 5;
}

.forth, .fifth {
	grid-column : span 2;
}
.tenth {
	grid-column : span 3;
}